html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;

  min-width: 100%;
  min-height: 100%;
  line-height: 1.5em;
}

body {
  background: #D1D5D8;
}

@media only screen and (max-width: 800px) {
  nav {
    justify-content: center;

    a {
      display: block;
    }
  }
}

main {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  max-width: 36rem;

  padding: 2em;
  background: white;
  border-radius: 2rem;
  margin: 3rem 0;
  box-shadow: 0 0 3px 1px gray;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.header {
  position: absolute;
  right: 0;
  top: 0;

  padding: 1em;
}

.nav-link {
  text-decoration: none;
}

.nav-link--main {
  color: #D7263D;
}

.centered {
  align-self: center;
  text-align: center;
}

.img {
  display: block;
  width: 100%;
  max-width: 20rem;
  max-height: 20rem;
  height: auto;
  margin-bottom: .67rem;
  border-radius: 1rem;

  animation: easeIn 1s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.img--hidden {
  visibility: hidden;
  height: 0px;

  animation: easeOut 1s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

nav {
  display: block;
  text-align: center;
}

a {
  color: black;
  margin-bottom: .67em;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: #D7263D;
}

@keyframes easeIn {
  0% {
    height: 0;
    transform: scale(0);
  }
  100% {
    height: 20em;
    transform: scale(1);
  }
}

@keyframes easeOut {
  0% {
    height: 20em;
    transform: scale(1);
  }
  100% {
    height: 0;
    transform: scale(0);
  }
}

.post {
  padding: 1em 0;
}

.post-header {
  border-bottom: 0.125rem solid #D1D5D8;
}
