<!doctype html>

<html lang='en'>
<head>
  <title>Chris Hancock</title>

  <base href="/">

  <meta charset='utf-8'>
  <meta name='description'
        content='Building websites from Brooklyn, NY.'>
  <meta name='author'
        content='Chris Hancock'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Chris Hancock",
      "additionalName": "Chris",
      "jobTitle": "Product Engineer | Software Developer",
      "affiliation": "Handy",
      "telephone": "(708) 942-4747",
      "url": "chancock.com"
    }
  </script>

  <link rel='stylesheet'
        href='css/index.css'>
  <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel='shortcut icon'
        type='image/png'
        href='assets/images/favicon.png'>

  <script src="assets/scripts/ga.js"></script>
  <script src='assets/scripts/index.js'></script>
</head>

<body class="layout">
    {% include header.html %}
  </header>

  <main class="layout__main">
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>
