//
// -- Colors --
//

// Definitions
// https://coolors.co/ffffff-242038-000000-d7263d-d1d5d8

$white: #ffffff;
$blue: #242038;
$black: #000000;
$red: #D7263D;
$gray: #D1D5D8;
$alt-gray: #86888A;

// Exports

$color--box: $white;
$color--background: $gray;
$color--text: $black;
$color--link: $red;
$color--shadow: $alt-gray;

//
// -- Other --
//

